<% include partials/_header %>
    <% if(!id || id === 1) { %>
      <form method="POST" action="/login"">
        <label for="Login">Login:</label>
        <input id="email" type="email" name="email" placeholder="sample@sample.com">
      <input id="password" type="password" name="password" placeholder="password">
        <input type="submit" value="Submit">
      </form>
    <% } else { %>
      <p>You are logged in.<br />Do you want to logout?<br />(<%= email %>)</p>
      <form method="POST" action="/logout"">
        <input type="submit" value="logout">
      </form>
      <a class="btn-back" href="./urls">Back to List Page</a>
    <% } %>

    </div><! --/.wrapper -->
  </body>
</html>