    <% include partials/_header %>

    <form action="/register" method="POST">
      <label for="Registration">Registration</label>
      <input id="email" type="email" name="email" placeholder="sample@sample.com">
      <input id="password" type="password" name="password" placeholder="password">
      <input type="submit" value="Submit">
    </form>
  </div>
  </body>
</html>