<% include partials/_header %>
      <ul>
        <li>ShortURL: <%= shortURL %></li>
      </ul>
      <form method="POST" action="/urls/<%= shortURL %>/">
        <input type="text" name="formUpdate" value="<%= urls.url %>" placeholder="<%= urls.url %>">
        <input type="submit" value="Update">
      </form>
    </div><! --/.wrapper -->
  </body>
</html>