    <% include partials/_header %>

    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://">
      <input type="submit" value="Submit">
    </form>
  </div>
  </body>
</html>

