<% include partials/_header %>
      <form action="/urls/" method="POST">
        <label for="longURL">Enter a new URL:<br />
        <span>Please enter from "http://" or "https://".</span></label>
        <input id="longURL" type="text" name="longURL" placeholder="http://">
        <input type="submit" value="Submit">
      </form>
    </div><! --/.wrapper -->
  </body>
</html>